.event-page-container {
    padding: 20px;
}
.selectFormControl {
    width: 100%;
}
.loader {
    width: 100%;
    margin-top: 10px;
}
.filters {
    background-color: #fff;
    padding: 20px;
}
.filters .select {
    /* width: 100%; */
    margin-bottom: 20px;
}
.result-tables {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}